{
  "token": "MTIwNjQ2NTQzMjc2MDg3NzA2Ng.GQbq3q.W_VOvkTx51UaQLxbP0tIVEX4isMjIdBG0XjWLs",
  "fetchSkinPrices": true,
  "fetchSkinRarities": true,
  "localiseSkinNames": true,
  "linkItemImage": true,
  "useEmojisFromServer": "",
  "refreshSkins": "10 0 0 * * *",
  "checkGameVersion": "*/15 * * * *",
  "cleanupAccounts": "0 * * * *",
  "delayBetweenAlerts": 5000,
  "alertsPerPage": 10,
  "emojiCacheExpiration": 10000,
  "useLoginQueue": true,
  "loginQueue": "*/2 * * * * *",
  "loginRetryTimeout": 600000,
  "useShopQueue": true,
  "shopQueue": "*/1 * * * * *",
  "storePasswords": true,
  "trackStoreStats": true,
  "statsExpirationDays": 14,
  "statsPerPage": 8,
  "ownerId": "683261254583975956",
  "ownerName": "om_th2553",
  "status": "Up and running!",
  "logToChannel": "",
  "logFrequency": "*/10 * * * * *"
}
